<div *ngIf="!state" class="card">
    <h5 *ngIf="score">Congratulations! your score is {{score}}</h5>
    <h5>Click start to play</h5>
    <button class="actionButton" (click)="StartGame()">Start</button>
</div>
<div *ngIf="state" class="card">
    <app-page [pageInfo]="pages[pageIndex]" [pageIndex]="pageIndex" (onNext) = "nextPage($event)"></app-page>
    <div style="text-align:center;margin-top: 10px;">
        <span *ngFor="let page of pages, let i = index" class="dot" [style.background-color]="pageIndex===i?'rgb(105, 166, 190)':'#bbb'"></span>
    </div>  
</div>

